<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="GraphUrl" value="https://graph.microsoft.com"/>
    <add key="ClientId" value="00000000-0000-0000-0000-000000000000"/>
    <add key="Thumbprint" value="0000000000000000000000000000000000000000"/>
    <add key="Authority" value="https://login.windows.net/tenant.onmicrosoft.com/"/>
  </appSettings>
</configuration>